.input-row {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 8px;
}

.input-row > * {
    width: 100%;
}

.input-row > *:first-child {
    margin-right: 5px;
}

.input-row > *:last-child {
    margin-left: 5px;
}